server:
  #
  port: 8671
eureka:
  instance:
    #主机名
    hostname: eureka1.com
  client:
    service-url:
      #
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
    #是否将自己注册到Eureka Server,默认为true，由于当前就是server，故而设置成false，表明该服务不会向eureka注册自己的信息
    fetch-registry: false
    #是否从eureka server获取注册信息，由于单节点，不需要同步其他节点数据，用false
    register-with-eureka: false

  server:
    #关闭自我保护模式
    enable-self-preservation: false
    #失效服务间隔
    eviction-interval-timer-in-ms: 3000
management:
  endpoint:
    shutdown:
      enabled: true