server:
  port: 8082
eureka:
  client:
    service-url:
      defaultZone: http://eureka1.com:8671/eureka/
    #表示eureka client间隔多久去拉取服务注册信息，默认为30秒，
    #对于api-gateway，如果要迅速获取服务注册状态，可以缩小该值，比如5秒
    registry-fetch-interval-seconds: 5
  instance:
    appname: order-8082
    #续约发送间隔默认30秒，心跳间隔
    lease-renewal-interval-in-seconds: 5
    # 续约到期时间（默认90秒）
    lease-expiration-duration-in-seconds: 60

